streamlit==1.26.0
numpy==1.24.4
pypdf==3.14.0
langchain==0.2.15
langchain-openai==0.3.15
langchain-text-splitters==0.2.5
langchain-community==0.1.2
python-dotenv==1.0.0
chromadb==1.2.0
python-docx==0.8.13
python-pptx==0.6.21
sentence-transformers==2.2.2
